.istOfMedicines {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.nothingFound {
  /* display: block; */
  padding: 40px 0;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.14;
  color: #1d1e21;
  text-align: center;
}

.oneCardMedicines {
  width: 335px;
  height: 443px;
}

.spinners {
  top: 30px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .istOfMedicines {
    margin-top: 32px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 13px;
    row-gap: 32px;
    justify-content: center;
  }

  .nothingFound {
    /* display: block; */
    padding: 60px 0;
    font-size: 26px;
  }

  .oneCardMedicines {
    width: 226px;
    height: 403px;
  }
}

@media screen and (min-width: 1440px) {
  .istOfMedicines {
    margin-top: 40px;
    gap: 17px;
    row-gap: 40px;
  }

  .oneCardMedicines {
    width: 280px;
    height: 423px;
  }
}
