.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.select {
  box-sizing: border-box;
  appearance: none;
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 60px;
  padding: 13px 18px;
  width: 335px;
  height: 44px;

  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(29, 30, 33, 0.4);
  text-transform: capitalize;
}

.color {
  color: #1d1e21;
}

.iconArrow {
  position: absolute;
  left: 301px;
  top: 14px;
  rotate: 90deg;
}

.search {
  box-sizing: border-box;
  padding: 13px 18px;
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 60px;
  width: 335px;
  height: 44px;

  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #1d1e21;
}

.search::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(29, 30, 33, 0.4);
}

.iconSearch {
  position: absolute;
  left: 301px;
  top: 70px;
}

.buttonSubmit {
  box-sizing: border-box;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  border-radius: 60px;
  padding: 13px 30px;
  width: 116px;
  height: 44px;
  background-color: #59b17a;

  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fff;

  &:hover {
    background-color: #3f945f;
  }
}

@media screen and (min-width: 768px) {
  .form {
    flex-direction: row;
    gap: 14px;
  }

  .select {
    width: 214px;
  }

  .iconArrow {
    position: absolute;
    left: 180px;
    top: 14px;
    rotate: 90deg;
  }

  .search {
    width: 224px;
  }

  .iconSearch {
    position: absolute;
    left: 418px;
    top: 14px;
  }
}

@media screen and (min-width: 1440px) {
}
