.sectionProduct {
  box-sizing: border-box;
  max-width: 375px;
  padding: 40px 20px 80px 20px;
  margin: 0 auto;
  background-color: inherit;
}

.productBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.boxProd {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.img {
  border: 1.15px solid rgba(89, 177, 122, 0.6);
  border-radius: 27px;
  width: 335px;
  height: 337px;
}

.characteristics {
  box-sizing: border-box;
  border-radius: 20px;
  width: 335px;
  height: 160px;
  background-color: #fff;
  padding: 20px;
}

.boxNamePrice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.namePrice {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  color: #1d1e21;
}

.suppliers {
  margin-top: 4px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(29, 30, 33, 0.6);
}

.boxAddToCart {
  margin-top: 32px;
}

.boxButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttonPlusMinus {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 60px;
  width: 108px;
  height: 44px;
}

.buttonPlus {
  background-color: inherit;
  height: 45px;
  border: none;
  border-right: 1px solid rgba(29, 30, 33, 0.1);

  &:disabled {
    cursor: default;
    box-sizing: border-box;
    background-color: rgba(38, 38, 38, 0.05);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
}

.number {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #1d1e21;
}

.buttonMinus {
  background-color: inherit;
  height: 45px;
  border: none;
  border-left: 1px solid rgba(29, 30, 33, 0.1);

  &:disabled {
    cursor: default;
    box-sizing: border-box;
    background-color: rgba(38, 38, 38, 0.05);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}

.buttonAdd {
  box-sizing: border-box;
  border: none;
  background-color: #59b17a;
  border-radius: 60px;
  padding: 13px 32px;
  width: 140px;
  height: 44px;

  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fff;

  &:hover {
    background-color: #3f945f;
  }
}

.partReviews {
  box-sizing: border-box;
  padding: 20px 20px 40px 20px;
  border-radius: 27px;
  width: 335px;
  /* height: 783px; */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.boxLink {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.link {
  box-sizing: border-box;
  border-radius: 40px;
  padding: 8px 25px;
  height: 33px;
  background-color: rgba(89, 177, 122, 0.1);

  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.05em;
  text-align: center;
  color: #59b17a;
}

.active {
  background-color: #59b17a;
  color: #fff;
}

.boxOutlet {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .sectionProduct {
    max-width: 768px;
    padding: 40px 32px 120px 32px;
  }

  .productBox {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }

  .boxProd {
    flex-direction: row;
    gap: 16px;
  }

  .img {
    width: 363px;
    height: 284px;
  }

  .characteristics {
    width: 323px;
    height: 284px;
    padding: 32px;
  }

  .boxNamePrice {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .namePrice {
    font-size: 20px;
    line-height: 1.4;
  }

  .boxAddToCart {
    margin-top: 66px;
  }

  .partReviews {
    padding: 32px 32px 70px 32px;
    width: 704px;
    gap: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .sectionProduct {
    max-width: 1440px;
    padding: 66px 128px 120px 128px;
  }

  .productBox {
    gap: 20px;
  }

  .boxProd {
    flex-direction: column;
    gap: 20px;
  }

  .img {
    border: 1.15px solid rgba(89, 177, 122, 0.6);
    border-radius: 27px;
    width: 364px;
    height: 337px;
  }

  .characteristics {
    width: 364px;
    height: 174px;
    padding: 20px;
  }

  .boxNamePrice {
    display: flex;
    flex-direction: row;
    gap: 0px;
  }

  .boxAddToCart {
    margin-top: 40px;
  }

  .partReviews {
    padding: 40px 40px 66px 40px;
    width: 786px;
    gap: 40px;
  }
}
