.boxUserNav {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.containerBasket {
  position: relative;
}

.itemsInCart {
  position: absolute;
  left: 30px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #e7f1ed;

  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #59b17a;
  text-align: center;
}

.link {
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #59b17a1a;
  }
}

.linkWhite {
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #bdedd0fd;
  }
}

.icon {
  width: 16px;
  height: 16px;
}

.userName {
  width: 44px;
  height: 44px;
  background-color: rgba(89, 177, 122, 0.1);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  color: #59b17a;
}

.userNameWhite {
  /* color: #fff; */
  background-color: #fff;
}
