.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  box-sizing: border-box;
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 60px;
  width: 335px;
  height: 44px;
  background-color: #fff;
  padding: 13px 18px;

  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #1d1e21;

  &::placeholder {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: rgba(29, 30, 33, 0.4);
  }
}

.boxInput {
  position: relative;
}

.errorMessage {
  position: absolute;
  top: 43px;
  left: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.5;
  color: red;
}

.buttonShowPassword {
  position: absolute;
  top: 14px;
  left: 300px;
  padding: 0;
  width: 20px;
  height: 16px;
  background-color: inherit;
  border: none;
}

.boxButton {
  margin-top: 10px;
}

.buttonSubmit {
  box-sizing: border-box;
  border: none;
  border-radius: 60px;
  padding: 13px 139px;
  width: 335px;
  height: 44px;
  background-color: #59b17a;

  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fff;

  &:hover {
    background-color: #3f945f;
  }
}

.paragraph {
  display: block;
  margin-top: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(29, 30, 33, 0.4);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .form {
    margin-top: 54px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 14px;
  }

  .input {
    width: 280px;
  }

  .buttonShowPassword {
    left: 245px;
  }

  .boxButton {
    margin-top: 48px;
  }

  .buttonSubmit {
    padding: 13px 112px;
    width: 280px;
  }
}

@media screen and (min-width: 1440px) {
  .form {
    margin-top: 114px;
  }

  .input {
    width: 262px;
  }

  .buttonShowPassword {
    left: 225px;
  }

  .boxButton {
    margin-top: 62px;
  }
}
