.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}

.title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: #fff;
}

.titleWhite {
  color: #1d1e21;
}
