.titleCart {
  padding-left: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.14;
  color: #1d1e21;
}

.containerList {
  display: flex;
  flex-direction: column;
  width: 335px;
}

.oneCard {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 20px 0;
  border-bottom: 1px solid rgba(29, 30, 33, 0.1);
}

@media screen and (min-width: 768px) {
  .containerList {
    width: 704px;
  }

  .oneCard {
    gap: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .titleCart {
    padding-left: 0px;
    margin-top: 60px;
  }

  .containerList {
    padding-top: 60px;
    width: 460px;
  }

  .oneCard {
    gap: 20px;
  }
}
