.header {
  position: relative;
  box-sizing: border-box;
  max-width: 375px;
  padding: 25px 20px;
  margin: 0 auto;
  background-color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerGreen {
  background-color: #59b17a;
}

.navigationLinks {
  display: none;
}

.authentication {
  display: none;
}

.buttonMenu {
  border: none;
  background-color: inherit;
}

.menu {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
  height: 100vh;
  background-color: rgba(29, 30, 33, 0.45);
}

.boxMenu {
  box-sizing: border-box;
  position: relative;
  left: 165px;
  width: 210px;
  height: 100vh;
  background-color: #59b17a;
  padding: 31px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.buttonClose {
  position: relative;
  background-color: inherit;
  border: none;
  left: 70px;
}

.buttonLogoOut {
  display: block;
  border: 1px solid rgba(241, 241, 241, 0.5);
  border-radius: 60px;
  padding: 15px 32px;
  background-color: inherit;

  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #fff;

  &:hover {
    color: #fff;
    background-color: #3f945f;
  }
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 768px;
    padding: 28px 32px;
  }

  .menu {
    width: 768px;
    height: 100vh;
  }
  .boxMenu {
    left: 434px;
    width: 334px;
    padding: 39px 32px 64px 32px;
  }

  .buttonClose {
    left: 120px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    max-width: 1440px;
    padding: 29px 128px;
  }

  .boxButtonMenu {
    display: none;
  }

  .navigationLinks {
    display: block;
  }

  .authentication {
    display: block;
  }
}
