.header {
  position: relative;
  box-sizing: border-box;
  max-width: 375px;
  padding: 25px 20px;
  margin: 0 auto;
  background-color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerGreen {
  background-color: #59b17a;
}

.navigationLinks {
  display: none;
}

.authentication {
  display: none;
}

.buttonMenu {
  border: none;
  background-color: inherit;
}

.menu {
  position: absolute;
  top: 0;
  width: 375px;
  height: 100vh;
  background-color: rgba(29, 30, 33, 0.45);
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 768px;
    padding: 28px 32px;
  }

  .menu {
    width: 768px;
    height: 100vh;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    max-width: 1440px;
    padding: 29px 128px;
  }

  .boxButtonMenu {
    display: none;
  }

  .navigationLinks {
    display: block;
  }

  .authentication {
    display: block;
  }
}
