.boxAuthentication {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.boxAuthenticationMenu {
  flex-direction: column;
}

.link {
  display: block;
  box-sizing: border-box;
  border: 1px solid rgba(241, 241, 241, 0.5);
  border-radius: 60px;
  padding: 16px 32px;

  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  background-color: inherit;
  color: #f1f1f1;

  &:hover {
    background-color: #3f945f;
  }
}

.linkMenu {
  width: 119px;
  text-align: center;
  color: #f1f1f1;
  border: 1px solid rgba(241, 241, 241, 0.5);

  &:hover {
    background-color: #3f945f;
    /* color: #fff; */
  }
}

.linkWhite {
  color: #59b17a;
  border: 1px solid rgba(89, 177, 122, 0.5);

  &:hover {
    background-color: #3f945f;
    color: #fff;
  }
}
